@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(/fonts/indie-flower-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 700;
  font-display: optional;
  src: url(/fonts/open-sans-bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(/fonts/open-sans-regular.woff2) format('woff2');
}

html {
  scroll-behavior: smooth;
}

h2 {
  @apply font-bold text-6xl sm:text-7xl md:text-8xl;
}

.sub-title {
  @apply font-bold text-2xl sm:text-3xl md:text-4xl;
}

h3 {
  @apply text-sm sm:text-base md:text-lg;
}

p,
a {
  @apply text-sm sm:text-base md:text-lg;
}
