@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Open Sans';
  font-style: bold;
  font-weight: 700;
  font-display: optional;
  src: url(/fonts/open-sans-bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(/fonts/open-sans-regular.woff2) format('woff2');
}
